.toast {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text);
  background: var(--green);
  border-radius: 8px;
  padding: 8px 16px;

  outline: 2px transparent solid;
  transition: outline 0.2s;

  user-select: none;
}

.toast:hover {
  outline-color: var(--red);

  cursor: pointer;
}

.toast-in {
  animation: ToastShow 200ms ease forwards;
}

.toast-out {
  animation: ToastHide 300ms ease forwards;
}

@keyframes ToastShow {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes ToastHide {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-200px);
    opacity: 0;
  }
}