:root {
  --text: rgba(255, 255, 255, 0.87);
  --background: rgb(36, 36, 36);
  --background-secondary: rgb(50, 50, 50);

  --green: rgb(54, 223, 90);
  --dark-green: rgb(57, 184, 53);

  --blue: rgb(0, 132, 255);
  --dark-blue: rgb(0, 112, 218);
}

@media (prefers-color-scheme: light) {
  :root {
    --text: rgb(33, 53, 71);
    --background: rgb(255, 255, 255);
  }
}

.dark {
  --text: rgba(255, 255, 255, 0.87);
  --background: rgb(36, 36, 36);
}

.light {
  --text: rgb(36, 36, 36);
  --background: rgb(248, 248, 248);
}